.navigation-container {
  display: -webkit-box;   
  display: -moz-box;  
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex;

  -webkit-flex-direction: row nowrap;
  -moz-flex-direction: row nowrap;
  flex-direction: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 35px;
  
  background-color: #21212F;
}

.button-unactivated{
    width: 100%;
    height: 100%;
    padding: 12px 0 8px 0;
    flex-grow: 1;
    flex-basis: auto;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    
    background: linear-gradient(180deg, #817D7D 0%, rgba(129, 125, 125, 0) 100%);
    color: #C8C8C8;
    border: 1px solid rgba(53, 53, 67, 1);
}


.button-activated{
    width: 100%;
    height: 100%;
    padding: 12px 0 8px 0;
    flex-grow: 1;
    flex-basis: auto;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    
    background: linear-gradient(180deg, rgba(34, 40, 47, 1) 0%, rgba(129, 125, 125, 0) 100%);
    color: #C8C8C8;
    border: 1px solid rgba(53, 53, 67, 1);
}