<div>
  <gojs-diagram [initDiagram]='initDiagram' [nodeDataArray]='diagramNodeData' [linkDataArray]='diagramLinkData'
    [modelData]='diagramModelData' [skipsDiagramUpdate]='skipsDiagramUpdate' (modelChange)='diagramModelChange($event)'
    [divClassName]='diagramDivClassName'>
  </gojs-diagram>
 
<!-- <div>
  <button id="SaveButton" onclick="save()">Save</button>
  <button onclick="load()">Load</button>
  Diagram Model saved in JSON format:
</div>
<textarea id="mySavedModel" style="width:100%;height:300px">

</textarea>
</div> -->