.estop{
    color:white;
    background-color: rgb(156, 16, 16);
    text-align: center;
    width: 75px;
    height: 31px;
    border-style:none;
    border-radius: 5px;
    text-shadow: -1px 1px black;
    box-shadow: 3px 4px 11px -3px #000000;
    box-shadow: inset 3px 4px 11px -3px rgba(255, 255, 255, 0.25);
}