.navigation-info{
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: fit-content;
    float: right;
    top: 5px;
    color: white;
    position: relative;
    line-height: 20%;
    padding-left: 20px ;
    padding-top: 10px;
    padding-bottom: 5px;
    background-image: linear-gradient( rgb(89, 89, 89),rgba(0,0,0,0));
    font-size:x-small;
    
}