<div class="navigation-info">
    <h2>NAVIGATION</h2>
    <table>
        <tr>
            <td><label for="Longitude">Longitude:</label></td>
            <td><p class="tablep">{{navData}}</p></td>
        </tr>
        <tr>
            <td><label for="Latitude">Latitude:</label></td>
            <td><p class="tablep">{{navData}}</p></td>
        </tr>
        <tr>
            <td><label for="Heading">Heading:</label></td>
            <td><p class="tablep">{{navData}}</p></td>
        </tr>
        <tr>
            <td><label for="Depth">Depth:</label></td>
            <td><p class="tablep">{{navData}}</p></td>
        </tr>
        <tr>
            <td><label for="TunnelLength">Tunnel Length:</label></td>
            <td><p class="tablep">{{navData}}</p></td>
        </tr>
    </table>    
</div>
