<div class="navigation-info">
    <h2>NAVIGATION</h2>
    <table>
        <tr>
            <td><label for="Longitude">Longitude:</label></td>
            <td><p class="tablep">210</p></td>
        </tr>
        <tr>
            <td><label for="Latitude">Latitude:</label></td>
            <td><p class="tablep">40</p></td>
        </tr>
        <tr>
            <td><label for="Heading">Heading:</label></td>
            <td><p class="tablep">10</p></td>
        </tr>
        <tr>
            <td><label for="Depth">Depth:</label></td>
            <td><p class="tablep">-1.3</p></td>
        </tr>
        <tr>
            <td><label for="TunnelLength">Tunnel Length:</label></td>
            <td><p class="tablep">20</p></td>
        </tr>
    </table>    
</div>
