.state-container{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #C8C8C8;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display:grid;
  grid-template-columns: auto auto;
  place-items: center;

  /* size of the entire box/container */
  width: 225px;
  height: 35px;

  /* EDIT ME - positiong of the box */
  position: absolute;
  left: 22.43%;
  top: 3%;

}

.state-label{
  /* size of box holding "CURRENT STATE" */
  width: 100px;
  height: 35px;

  position:absolute;
  left:0px;

}

.state-button{
  /* buttons do not inherit properties */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #C8C8C8;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  line-height: 16px;

  /* size of the armed button */
  position: absolute;
  height: 28px;
  width: 153px;
  right: 0px;
  vertical-align: center;

  border-radius: 4px;

}