<div class="container">
    <div class="logo-state-container">
        <div id="logo-container">
            <div id="logo">
                <img class="logo" src="assets/paradigm-logo.png" alt="" width="50" />
            </div>
            <div>
                <div id="paradigm">
                    PARADIGM
                </div>
                <div id="boring">
                    Boring
                </div>
            </div>
        </div>
        <div id="state-component">
            <app-state></app-state>
        </div>

    </div>
    <app-estop></app-estop>
</div>