.container {
    width: 100vw;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 10px 0 10px;
}

.logo-state-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#left-column {
    display: flex;
    flex-direction: column;
    float: left;
}


#logo-container {
    display: flex;
    align-items: center;
}

.component-left {
    margin-left: 5rem;
}

.component-right {
    margin-right: 3rem;
}

#paradigm {
    /* NAVIGATION */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #C8C8C8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#boring {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #C8C8C8;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}