.padding-top-bottom {
  /* size of the entire box/container */
  height: 153px;
  padding: 10px 8px 10px 15px;
  background: linear-gradient( rgb(70, 67, 67), rgba(0, 0, 0, 0));
}

.display-log-container {
  overflow-x: hidden;
  overflow-y: auto;
  /* scroll-margin: 50px; */
  width: 12.5vw;
  /* HEIGHT IS EQUAL TO HEIGHT IN padding-top-bottom - 2 times the padding space */
  height: 133px;
  /* 
  FONT CSS --> should be inheriting some CSS from parent box/component
  THIS PART SHOULD BE DELETED WHEN PARENT BOX WITH UNIVERSAL CSS IS MADE
  */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: white;
}

.log-text {
  /* how many pixels distances do you want between $: and log info? */
  position: relative;
  left: 3px;
}

::-webkit-scrollbar {
  /* width --> vertical; height --> horizontal (which may not be used) */
  width: 10px;
  height: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #1F1B1B;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* removing the box that appears in the intersection b/w H and V scrollbar */

::-webkit-scrollbar-corner {
  width: 0px;
}