.display-log-container{
  background:grey;
  overflow: auto;
  /* overflow --> convert to auto after done, colour of scroller bar is a bit tricky to change */
  
  /* size of the entire box/container */
  width: 152px;
  height: 233px;
 
}