<div class="min-actual-max">
    <div id = "table">
   <h2 id = "TableName">Natural Gas</h2>
   
        <table id = "Group62">
            <tr id = "headings">
                <td id = "hd1"><p>MIN</p></td>
                <td id = "hd2" ><p>ACTUAL</p></td>
                <td id = "hd3"><p>MAX</p></td>
            </tr>
            <tr>
                <td id = "data1"><p>5</p></td>
                <td id = "data2"><p>6</p></td>
                <td id = "data3"><p>10</p></td>

            </tr>     
        </table>  
  </div>
</div>
