<div class="min-actual-max">
    <div id="table">
        <h2 id="tableName">Natural Gas</h2>
        <table id="container">
            <tr>
                <th class="cell-design">MIN</th>
                <th class="cell-design">ACTUAL</th>
                <th class="cell-design">MAX</th>
            </tr>
            <tr>
                <td class="cell-design">5</td>
                <td class="cell-design actual-cell">{{actualValue}}</td>
                <td class="cell-design">10</td>
            </tr>
        </table>
    </div>
</div>