<div class="Power-Metrics-info">
    <h2>Power Metrics</h2>
    <table>
        <tr>
            <td class="normal"><label for="labels"></label></td>
            <td class="normal"><p class="tablep">MIN</p></td>
            <td class="normal"><p class="tablep">ACTUAL</p></td>
            <td class="normal"><p class="tablep">MAX</p></td>
        </tr>
        <tr>
            <td class="normal"><label for="Low-Voltage-Line-Current">Low Voltage Line Current</label></td>
            <td class="normal"><p class="tablep">5</p></td>
            <td class="changing" [ngStyle]="{'background-color': (data.actual >= data.min && data.actual <= data.max)?'#3B824F': '#A10B0B' }"><p class="tablep" >{{data.actual}}</p></td>
            <td class="normal"><p class="tablep">10</p></td>
        </tr>
        <tr>
            <td class="normal"><label for="Low-Voltage-Line-Voltage">Low Voltage Line Voltage</label></td>
            <td class="normal"><p class="tablep">5</p></td>
            <td class="changing" [ngStyle]="{'background-color': (data.actual >= data.min && data.actual <= data.max)?'#3B824F': '#A10B0B' }"><p class="tablep">{{data.actual}}</p></td>
            <td class="normal"><p class="tablep">10</p></td>
        </tr>
        <tr>
            <td class="normal"><label for="Control-Laptop-Line-Current">Control Laptop Line Current</label></td>
            <td class="normal"><p class="tablep">5</p></td>
            <td class="changing" [ngStyle]="{'background-color': (data.actual >= data.min && data.actual <= data.max)?'#3B824F': '#A10B0B' }"><p class="tablep">{{data.actual}}</p></td>
            <td class="normal"><p class="tablep">10</p></td>
        </tr>
        <tr>
            <td class="normal"><label for="Control-Laptop-Line-Voltage">Control Laptop Line Voltage</label></td>
            <td class="normal"><p class="tablep">5</p></td>
            <td class="changing" [ngStyle]="{'background-color': (data.actual >= data.min && data.actual <= data.max)?'#3B824F': '#A10B0B' }"><p class="tablep">{{data.actual}}</p></td>
            <td class="normal"><p class="tablep">10</p></td>
        </tr>
        <tr>
            <td class="normal"><label for="Power-Supply-Current">Power Supply Current</label></td>
            <td class="normal"><p class="tablep">5</p></td>
            <td class="changing" [ngStyle]="{'background-color': (data.actual >= data.min && data.actual <= data.max)?'#3B824F': '#A10B0B' }"><p class="tablep">{{data.actual}}</p></td>
            <td class="normal"><p class="tablep">10</p></td>
        </tr>
        <tr>
            <td class="normal"><label for="Power-Supply-Voltaget">Power Supply Voltage</label></td>
            <td class="normal"><p class="tablep">5</p></td>
            <td class="changing" [ngStyle]="{'background-color': (data.actual >= data.min && data.actual <= data.max)?'#3B824F': '#A10B0B' }"><p class="tablep">{{data.actual}}</p></td>
            <td class="normal"><p class="tablep">10</p></td>
        </tr>
        <tr>
            <td class="normal"><label for="Total-Power-Consumption">Total Power Consumption</label></td>
            <td class="normal"><p class="tablep">5</p></td>
            <td class="changing" [ngStyle]="{'background-color': (data.actual >= data.min && data.actual <= data.max)?'#3B824F': '#A10B0B' }"><p class="tablep">{{data.actual}}</p></td>
            <td class="normal"><p class="tablep">10</p></td>
        </tr>
    </table>    
</div>