<div class="Power-Metrics-info">
    <h2>Power Metrics</h2>
    <table>
        <tr class="normal">
            <td><label for="labels"></label></td>
            <td *ngFor="let dataT of dataTitle"><p class="tablep">{{dataT}}</p></td>
        </tr>
        <tr>
            <td class="normal labels"><label for="Low-Voltage-Line-Current">{{dataName[0]}}</label></td>
            <td class="normal"><p class="tablep">{{data.min}}</p></td>
            <td class="changing" [ngStyle]="{'background-color': (data.actual >= data.min && data.actual <= data.max)?'#3B824F': '#A10B0B' }"><p class="tablep" >{{data.actual}}</p></td>
            <td class="normal"><p class="tablep">{{data.max}}</p></td>
        </tr>
        <tr>
            <td class="normal labels"><label for="Low-Voltage-Line-Voltage">{{dataName[1]}}</label></td>
            <td class="normal"><p class="tablep">{{data.min}}</p></td>
            <td class="changing" [ngStyle]="{'background-color': (data.actual >= data.min && data.actual <= data.max)?'#3B824F': '#A10B0B' }"><p class="tablep">{{data.actual}}</p></td>
            <td class="normal"><p class="tablep">{{data.max}}</p></td>
        </tr>
        <tr>
            <td class="normal labels"><label for="Control-Laptop-Line-Current">{{dataName[2]}}</label></td>
            <td class="normal"><p class="tablep">{{data.min}}</p></td>
            <td class="changing" [ngStyle]="{'background-color': (data.actual >= data.min && data.actual <= data.max)?'#3B824F': '#A10B0B' }"><p class="tablep">{{data.actual}}</p></td>
            <td class="normal"><p class="tablep">{{data.max}}</p></td>
        </tr>
        <tr>
            <td class="normal labels"><label for="Control-Laptop-Line-Voltage">{{dataName[3]}}</label></td>
            <td class="normal"><p class="tablep">{{data.min}}</p></td>
            <td class="changing" [ngStyle]="{'background-color': (data.actual >= data.min && data.actual <= data.max)?'#3B824F': '#A10B0B' }"><p class="tablep">{{data.actual}}</p></td>
            <td class="normal"><p class="tablep">{{data.max}}</p></td>
        </tr>
        <tr>
            <td class="normal labels"><label for="Power-Supply-Current">{{dataName[4]}}</label></td>
            <td class="normal"><p class="tablep">{{data.min}}</p></td>
            <td class="changing" [ngStyle]="{'background-color': (data.actual >= data.min && data.actual <= data.max)?'#3B824F': '#A10B0B' }"><p class="tablep">{{data.actual}}</p></td>
            <td class="normal"><p class="tablep">{{data.max}}</p></td>
        </tr>
        <tr>
            <td class="normal labels"><label for="Power-Supply-Voltaget">{{dataName[5]}}</label></td>
            <td class="normal"><p class="tablep">{{data.min}}</p></td>
            <td class="changing" [ngStyle]="{'background-color': (data.actual >= data.min && data.actual <= data.max)?'#3B824F': '#A10B0B' }"><p class="tablep">{{data.actual}}</p></td>
            <td class="normal"><p class="tablep">{{data.max}}</p></td>
        </tr>
        <tr>
            <td class="normal labels"><label for="Total-Power-Consumption">{{dataName[6]}}</label></td>
            <td class="normal"><p class="tablep">{{data.min}}</p></td>
            <td class="changing" [ngStyle]="{'background-color': (data.actual >= data.min && data.actual <= data.max)?'#3B824F': '#A10B0B' }"><p class="tablep">{{data.actual}}</p></td>
            <td class="normal"><p class="tablep">{{data.max}}</p></td>
        </tr>
    </table>    
</div>