.bigfatbox{
    height: 1080px;
    display:flex;
    flex-direction: row;
}

.schematics{
    background: blue;
    width: 100%;

}

.right-panel{    
    position: right;
    width: 230px;
    display: flex;
    flex-direction: column;
}
